
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #007BFF;
}

p {
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image-text-container {
  display: flex;
  align-items: center;
}

/* Styles/styles.css */

.reduced-image {
  max-width: 50%; /* Adjust as needed */
  height: auto;
  border: 2px solid #000; /* Add a border to the image */
}


.text-container {
  margin-right: 20px; /* Adjust as needed */
}
